<!DOCTYPE html>
<html>
  <head>
    <title>MySite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="nav">
          <a class="navbar-brand" href="/">
            <%= image_tag 'img/logo.png', width: 156, height: 70 %>
          </a>
          <ul class="nav-list">
            <li class="nav-item">
              <%= link_to 'Portfolio', root_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Feature', root_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Profile', root_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Contact', root_path, class: 'nav-link' %>
            </li>
          </ul>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
